# Misc. System Files
**/.DS_Store

# Compiled Project Files
**/dist/
*.exe

# C# Project Files
**/obj/*.csproj.nuget.dgspec.json
**/obj/project.assets.json
**/obj/Debug/
**/bin/

# Temp Files
*.cache
